<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Footer Details</h4>
                        <form class="validation-form-container forms-sample" id="footerDetails">
                            <input type="hidden" name="gallery_detail_id" value=""/>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="exampleInputName1">Facebook</label>
                                        <input type="text" class="form-control" id="facebook" name="facebook"
                                            value="<%=footerDetails.facebook%>"
                                            placeholder="Title" />
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="exampleInputName1">Instagram</label>
                                        <input type="text" class="form-control" id="instagram" name="instagram"
                                            value="<%=footerDetails.instagram%>"
                                            placeholder="Title 2" />
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="exampleInputName1">Twitter</label>
                                        <input type="text" class="form-control" id="twitter" name="twitter"
                                            value="<%=footerDetails.twitter%>"
                                            placeholder="Title 2" />
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="exampleInputName1">Youtube</label>
                                        <input type="text" class="form-control" id="youtube" name="youtube"
                                            value="<%=footerDetails.youtube%>"
                                            placeholder="Title 2" />
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="exampleInputName1">Primary Phone</label>
                                        <input type="text" class="form-control" id="mobile_number" name="mobile_number"
                                            value="<%=footerDetails.mobile_number%>"
                                            placeholder="Title 2" />
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="exampleInputName1">Secondary Phone</label>
                                        <input type="text" class="form-control" id="mobile_number_optional" name="mobile_number_optional"
                                            value="<%=footerDetails.mobile_number_optional%>"
                                            placeholder="Title 2" />
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="exampleInputName1">Primary Email</label>
                                        <input type="text" class="form-control" id="email" name="email"
                                            value="<%=footerDetails.email%>"
                                            placeholder="Title 2" />
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="exampleInputName1">Address</label>
                                        <input type="text" class="form-control" id="address" name="address"
                                            value="<%=footerDetails.address%>"
                                            placeholder="Title 2" />
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="exampleTextarea1">Description</label>
                                        <textarea class="form-control" id="description" name="description" rows="4"><%=footerDetails.description%></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary mr-2" id="submitBtn">
                                        <i class="fa fa-spin fa-spinner mr-2" id="btn_spinner"></i>Submit
                                    </button>
                                    <button class="btn btn-light">Cancel</button>
                                    <p id="msg mt-2"></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Footer Gallery</h4>
                        <form class="validation-form-container forms-sample" id="footerGallery">
                            <input type="hidden" name="gallery_img_id" value=""/>
                            <div class="row">
                                 <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                                    <div class="form-group m-b-30">
                                        <label for="profile_picture" class="col-form-label">Gallery Image(Allow
                                            Only.jpeg,.jpg,.png)</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend custom-image-button">
                                                <div class="fileUpload btn btn-secondary">
                                                    <span class="upl" id="upload">Upload</span>
                                                    <input type="file" id="pro_pic" class="upload up"
                                                        onchange="imageUpload(this.id,'uploads/footer/','profile_picture','pro_pic_view','pro_pic_remove',1)" />
                                                    <input type="hidden" name="profile_picture" id="profile_picture"
                                                        value="">
                                                </div>
                                            </div>
                                            <input type="text" placeholder="No File chosen"
                                                class="form-control empimage in_field img_error" name="prof_pic"
                                                id="prof_pic" value="" readonly>
                                        </div>
                                        <div class="progress progress_pro">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                    <span class="doc_append">
                                        <img id="pro_pic_view" src="" class="pro_pic_view" />
                                    </span>
                                    <input type="button" id="pro_pic_remove" value="x" class="pro_pic_remove rmv"
                                        onclick="removeImage(this.id,'pro_pic','pro_pic_view','profile_picture','uploads/footer/',1);"
                                        style="display:none" />
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <button type="submit" class="btn btn-primary mr-2" id="submitBtn2">
                                        <i class="fa fa-spin fa-spinner mr-2" id="btn_spinner2"></i>Submit
                                    </button>
                                    <button class="btn btn-light">Cancel</button>
                                    <p id="msg2 mt-2"></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">Footer Gallery List</p>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="footerImageList" class="display expandable-table" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Gallery Image</th>
                                                <th>Status</th>
                                                <th>Creation Date</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="imageDeleteModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header p-3">
        <h5 class="modal-title">Delete Footer Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <p style="font-size:24px; text-align: center;margin-bottom:0px !important;" >Are You really want to delete this image.</p>
      </div>
      <div class="modal-footer d-flex justify-content-around" style="border-top:none !important;">
        <button type="button" class="btn btn-primary" id="delete_id" onClick="deleteFooterImageFunction(this.value)">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>